@charset "UTF-8";
/**
  @author Samuel Loranger <samuelloranger@gmail.com>
 */
/**
 * ------------------
 * TABLE DES MATIÈRES
 * ------------------
 * Librairies
 * Utilitaires
 * Base
 * Modules
 * Grille
 */
/****** Setup ******/
/****** Librairies ******/
/* ==========================================================================
 * * Normalize.scss settings
 * * ========================================================================== */
/**
 * * Includes legacy browser support IE6/7
 * *
 * * Set to false if you want to drop support for IE6 and IE7 */
/* Base
 * * ========================================================================== */
/**
 * * 1. Set default font family to sans-serif.
 * * 2. Prevent iOS text size adjust after orientation change, without disabling
 * *  user zoom.
 * * 3. Corrects text resizing oddly in IE 6/7 when body `font-size` is set using
 * *  `em` units. */
@import url("https://fonts.googleapis.com/css?family=Titan+One|Roboto");
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
 * * Remove default margin. */
body {
  margin: 0;
}

/* HTML5 display definitions
 * * ========================================================================== */
/**
 * * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * * Correct `block` display not defined for `details` or `summary` in IE 10/11 and Firefox.
 * * Correct `block` display not defined for `main` in IE 11. */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

/**
 * * 1. Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 * * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera. */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * * Prevents modern browsers from displaying `audio` without controls.
 * * Remove excess height in iOS 5 devices. */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * * Address `[hidden]` styling not present in IE 8/9/10.
 * * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22. */
[hidden],
template {
  display: none;
}

/* Links
 * * ========================================================================== */
/**
 * * Remove the gray background color from active links in IE 10. */
a {
  background: transparent;
}

/**
 * * Improve readability when focused and also mouse hovered in all browsers. */
a:active, a:hover {
  outline: 0;
}

/* Text-level semantics
 * * ========================================================================== */
/**
 * * Address styling not present in IE 8/9/10/11, Safari, and Chrome. */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * * Address style set to `bolder` in Firefox 4+, Safari, and Chrome. */
b,
strong {
  font-weight: bold;
}

/**
 * * Address styling not present in Safari and Chrome. */
dfn {
  font-style: italic;
}

/**
 * * Address variable `h1` font-size and margin within `section` and `article`
 * * contexts in Firefox 4+, Safari, and Chrome. */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * * Addresses styling not present in IE 8/9. */
mark {
  background: #ff0;
  color: #000;
}

/**
 * * Address inconsistent and variable font size in all browsers. */
small {
  font-size: 80%;
}

/**
 * * Prevent `sub` and `sup` affecting `line-height` in all browsers. */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* Embedded content
 * * ========================================================================== */
/**
 * * 1. Remove border when inside `a` element in IE 8/9/10.
 * * 2. Improves image quality when scaled in IE 7. */
img {
  border: 0;
}

/**
 * * Correct overflow not hidden in IE 9/10/11. */
svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
 * * ========================================================================== */
/**
 * * Address margin not present in IE 8/9 and Safari. */
figure {
  margin: 1em 40px;
}

/**
 * * Address differences between Firefox and other browsers. */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/**
 * * Contain overflow in all browsers. */
pre {
  overflow: auto;
}

/**
 * * Address odd `em`-unit font size rendering in all browsers.
 * * Correct font family set oddly in IE 6, Safari 4/5, and Chrome. */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
 * * ========================================================================== */
/**
 * * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * * styling of `select`, unless a `border` property is set. */
/**
 * * 1. Correct color not being inherited.
 * *  Known issue: affects color of disabled elements.
 * * 2. Correct font properties not being inherited.
 * * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 * * 4. Improves appearance and consistency in all browsers. */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
}

/**
 * * Address `overflow` set to `hidden` in IE 8/9/10/11. */
button {
  overflow: visible;
}

/**
 * * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * * All other form control elements do not inherit `text-transform` values.
 * * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * * Correct `select` style inheritance in Firefox. */
button,
select {
  text-transform: none;
}

/**
 * * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 * *  and `video` controls.
 * * 2. Correct inability to style clickable `input` types in iOS.
 * * 3. Improve usability and consistency of cursor style between image-type
 * *  `input` and others.
 * * 4. Removes inner spacing in IE 7 without affecting normal text inputs.
 * *  Known issue: inner spacing remains in IE 6. */
button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/**
 * * Re-set default cursor for disabled elements. */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * * Remove inner padding and border in Firefox 4+. */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * * the UA stylesheet. */
input {
  line-height: normal;
}

/**
 * * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * * 2. Remove excess padding in IE 8/9/10.
 * *  Known issue: excess padding remains in IE 6. */
input[type=checkbox],
input[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * * `font-size` values of the `input`, it causes the cursor style of the
 * * decrement button to change from `default` to `text`. */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 * *  (include `-moz` to future-proof). */
input[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

/**
 * * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * * Safari (but not Chrome) clips the cancel button when the search input has
 * * padding (and `textfield` appearance). */
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * * Define consistent border, margin, and padding. */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 * * 3. Corrects text not wrapping in Firefox 3.
 * * 4. Corrects alignment displayed oddly in IE 6/7. */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * * Remove default vertical scrollbar in IE 8/9/10/11. */
textarea {
  overflow: auto;
}

/**
 * * Don't inherit the `font-weight` (applied by a rule above).
 * * NOTE: the default cannot safely be changed in Chrome and Safari on OS X. */
optgroup {
  font-weight: bold;
}

/* Tables
 * * ========================================================================== */
/**
 * * Remove most spacing between table cells. */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

/*!
 * Hamburgers
 * @description Tasty CSS-animated hamburgers
 * @author Jonathan Suh @jonsuh
 * @site https://jonsuh.com/hamburgers
 * @link https://github.com/jonsuh/hamburgers
 */
.hamburger {
  padding: 5px 5px;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
}
.hamburger:hover {
  opacity: 0.7;
}
.hamburger.is-active:hover {
  opacity: 0.7;
}
.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
  background-color: #ffffff;
}

.hamburger-box {
  width: 40px;
  height: 24px;
  display: inline-block;
  position: relative;
}

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px;
}
.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
  width: 40px;
  height: 4px;
  background-color: #ffffff;
  border-radius: 4px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
}
.hamburger-inner::before, .hamburger-inner::after {
  content: "";
  display: block;
}
.hamburger-inner::before {
  top: -10px;
}
.hamburger-inner::after {
  bottom: -10px;
}

/*
 * Spin
 */
.hamburger--spin .hamburger-inner {
  transition-duration: 0.22s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.hamburger--spin .hamburger-inner::before {
  transition: top 0.1s 0.25s ease-in, opacity 0.1s ease-in;
}
.hamburger--spin .hamburger-inner::after {
  transition: bottom 0.1s 0.25s ease-in, transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.hamburger--spin.is-active .hamburger-inner {
  transform: rotate(225deg);
  transition-delay: 0.12s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}
.hamburger--spin.is-active .hamburger-inner::before {
  top: 0;
  opacity: 0;
  transition: top 0.1s ease-out, opacity 0.1s 0.12s ease-out;
}
.hamburger--spin.is-active .hamburger-inner::after {
  bottom: 0;
  transform: rotate(-90deg);
  transition: bottom 0.1s ease-out, transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
}

/**** Utilitaires ****/
/**
  * @author Samuel Loranger <samuelloranger@gmail.com>
 **/
/** Polices de caractères **/
@font-face {
  font-family: "titan_one";
  src: url("../../assets/fonts/Titan_One/TitanOne-Regular.ttf") format("ttf");
}
@font-face {
  font-family: "roboto-bold";
  src: url("../../assets/fonts/Roboto/Roboto-Bold.ttf") format("ttf");
}
@font-face {
  font-family: "roboto";
  src: url("../../assets/fonts/Roboto/Roboto-Regular.ttf") format("ttf");
}
/* Couleurs de base */
/** Points de rupture **/
/**
* @author Ève Février - efevrier@cegep-ste-foy.qc.ca
* @author Yves Hélie - yves.helie@cegep-ste-foy.qc.ca
*/
/**
 * ----------------------------
 * TABLE DES MATIERES - MIXINS
 * ----------------------------
 * Utilitaires de base
 ** Box sizing
 ** Clearfix
 * Accessibilité
 * Typographie
 */
/********** Utilitaires de base **********/
/** Box sizing **/
/* Clearfix */
/********* Accessibilité *********/
.visuallyhidden,
.screen-reader-only {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus,
.screen-reader-only.focusable:active,
.screen-reader-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/******** Typographie *********/
/****** Base ******/
/**
  @author Samuel Loranger <samuelloranger@gmail.com>
 */
h1, h2, h3 {
  font-family: "titan_one", titan_one, Arial, sans-serif;
}

h1 {
  font-size: 34px;
}
@media (min-width: 600px) {
  h1 {
    font-size: 38px;
  }
}

h2 {
  font-size: 30px;
}
@media (min-width: 600px) {
  h2 {
    font-size: 24px;
  }
}

h3 {
  font-size: 22px;
}
@media (min-width: 600px) {
  h3 {
    font-size: 20px;
  }
}

h4 {
  font-size: 18px;
  font-family: "Roboto", roboto-bold, Arial, sans-serif;
}

p, span, ul li, body {
  font-size: 16px;
  font-family: "Roboto", roboto, Arial, sans-serif;
}

a {
  text-decoration: none;
}
/**
 * @author Samuel Loranger <samuelloranger@gmail.com>
 */
/**
 * @author Samuel Loranger <samuelloranger@gmail.com>
 **/
a {
  color: black;
  text-decoration: none;
}

ul {
  padding-left: 0;
}
ul li {
  list-style-type: none;
}
ul li:before {
  display: inline-block;
  content: " ";
  width: 8px;
  height: 8px;
  margin-bottom: 2px;
  background-color: #00b4a2;
  margin-right: 8px;
}

header ul li:before {
  display: none;
}

/****** Modules ******/
/**
  @author Samuel Loranger <samuelloranger@gmail.com>
 */
.header {
  background-color: #363636;
  color: white;
}
@media (min-width: 600px) {
  .header {
    position: fixed;
    max-width: 20%;
    height: 100%;
    transition: 0.15s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
@media (min-width: 1600px) {
  .header {
    max-width: 10%;
  }
}
.header .menu-menu-principal-container .menu {
  margin: 0;
}
.header .menu-menu-principal-container .menu .menu-item {
  padding: 2% 0;
  margin-left: 5%;
}
@media (min-width: 600px) {
  .header .menu-menu-principal-container .menu .menu-item {
    text-align: center;
    margin-left: 0;
  }
}
.header .menu-menu-principal-container .menu .menu-item:first-child {
  margin-top: 5%;
}
@media (min-width: 600px) {
  .header .menu-menu-principal-container .menu .menu-item:first-child {
    margin-top: 0;
  }
}
.header .menu-menu-principal-container .menu:last-child {
  margin-bottom: 5%;
}
@media (min-width: 600px) {
  .header .menu-menu-principal-container .menu:last-child {
    margin-top: 0;
  }
}
.header .menu-menu-principal-container .menu a {
  color: white;
  font-size: 18px;
  font-family: "Roboto", roboto-bold, Arial, sans-serif;
}
@media (min-width: 600px) {
  .header .menu-menu-principal-container .menu a {
    font-size: 24px;
  }
}
.header__desktop {
  display: none;
}
@media (min-width: 600px) {
  .header__desktop {
    display: block;
    margin-top: 10%;
  }
}
.header__desktop .logo {
  display: flex;
  justify-content: center;
}
.header__desktop .logo img {
  width: 90%;
}
.header__desktop__nav {
  margin-top: 15%;
}
.header__mobile {
  display: none;
}
@media (max-width: calc(600px - 1px)) {
  .header__mobile {
    display: block;
  }
}
.header__mobile__conteneur {
  display: flex;
  justify-content: space-around;
  padding: 3% 0;
}
.header__mobile__conteneur .logo {
  width: 80%;
  height: 100%;
}
.header__mobile__nav {
  position: absolute;
  width: 100%;
  transition: 0.5s ease-in-out;
  background-color: #484848;
  overflow: hidden;
  max-height: 1000px;
}
.header__mobile__nav--ferme {
  max-height: 0;
  padding: 0;
}
.header__social {
  display: none;
}
@media (min-width: 600px) {
  .header__social {
    display: flex;
    flex-direction: column;
    padding: 0 8%;
    margin-bottom: 20%;
  }
}
@media (max-width: 1000px) {
  .header__social {
    flex-direction: column;
  }
}
@media (max-width: 782px) {
  .header__social {
    margin-bottom: 40%;
    padding: 0 6%;
  }
}
.header__social a {
  display: flex;
  min-width: 32px;
  min-height: 32px;
  margin-top: 5%;
  max-width: 15%;
  color: white;
}
.header__social a img {
  transition: 0.15s ease-in-out;
  transform: scale(0.9);
  margin-right: 25%;
  width: 100%;
  height: 100%;
}
.header__social a span {
  height: 100%;
  margin-top: 7px;
}
.header__social a:last-of-type {
  min-width: 35px;
  min-height: 30px;
}
.header__social a:hover img {
  transform: scale(1);
}
.header__socialMobile {
  display: flex;
  justify-content: space-between;
  padding: 0 8%;
  margin-bottom: 4%;
}
.header__socialMobile a {
  min-width: 32px;
  max-width: 12%;
}
.header__socialMobile a:last-of-type {
  max-width: 15%;
}

.accueil h2 {
  margin-top: 12%;
  text-align: center;
}
@media (min-width: 600px) {
  .accueil h2 {
    text-align: left;
    margin-top: 5%;
    margin-left: 5%;
  }
}
.accueil h2:first-of-type {
  margin-top: 2%;
}
.accueil__projets {
  display: flex;
  flex-direction: column;
  margin-bottom: 8%;
}
@media (min-width: 600px) {
  .accueil__projets {
    flex-direction: row;
    margin-bottom: 0;
  }
}
@media (min-width: 600px) {
  .accueil__projets:nth-child(2n) {
    flex-direction: row-reverse;
  }
}
.accueil__projets__image {
  width: 100%;
}
@media (min-width: 600px) {
  .accueil__projets__image {
    width: 50%;
  }
}
.accueil__projets__image img {
  display: block;
}
.accueil__projets__description {
  background-color: #dedede;
  padding: 0 2%;
}
@media (min-width: 600px) {
  .accueil__projets__description {
    width: 46%;
  }
}

.footer__credits {
  margin-bottom: 4%;
}
.footer__credits p {
  text-align: center;
}

/****** Grille ******/
.conteneur {
  margin: 0 auto;
  max-width: 1000px;
}

.contenuSite {
  margin: 0 5%;
}
@media (min-width: 600px) {
  .contenuSite {
    transition: margin 0.15s ease-in-out;
    width: 100%;
    margin-left: 20%;
    margin-right: 0;
  }
}
@media (min-width: 1600px) {
  .contenuSite {
    margin-left: 10%;
  }
}

html {
  height: 100%;
}

body {
  margin: 0 auto;
  height: 100%;
}
@media (min-width: 600px) {
  body {
    display: flex;
  }
}

img {
  max-width: 100%;
}

/*# sourceMappingURL=styles.css.map */
