@charset "UTF-8";

/**
  @author Samuel Loranger <samuelloranger@gmail.com>
 */


/**
 * ------------------
 * TABLE DES MATIÈRES
 * ------------------
 * Librairies
 * Utilitaires
 * Base
 * Modules
 * Grille
 */
/****** Setup ******/
$hamburger-layer-color : #ffffff;
$hamburger-padding-x: 5px;
$hamburger-padding-y: 5px;
$hamburger-types : (spin);

/****** Librairies ******/
@import "../node_modules/normalize-sass/normalize";
@import "../node_modules/hamburgers/_sass/hamburgers/hamburgers";

/**** Utilitaires ****/
@import "utilitaires/variables";
@import "utilitaires/mixins";

/****** Base ******/
@import "base/typo";
@import "base/boutons";
@import "base/general";
@import "base/404";


/****** Modules ******/
@import "modules/header";
@import "modules/accueil";
@import "modules/article";
@import "modules/footer";

/****** Grille ******/
@import "grille/general";