/**
  * @author Samuel Loranger <samuelloranger@gmail.com>
 **/

@import url('https://fonts.googleapis.com/css?family=Titan+One|Roboto');

/* Couleurs de base */
$grey: #363636;
$palegrey: #dedede;
$cyan: #00b4a2;
$orange: #f49701;
$rouge: #FE4D5F;

/** Points de rupture **/
$tablet : 600px;
$desktop : 850px;
$desktop-large : 1600px;

