/**
 * @author Samuel Loranger <samuelloranger@gmail.com>
 **/

a {
  color: black;
  text-decoration: none;
}

ul {
  padding-left: 0;

  li {
    list-style-type: none;

    &:before{
      display: inline-block;
      content: " ";
      width: 8px;
      height: 8px;
      margin-bottom: 2px;
      background-color: #00b4a2;
      margin-right: 8px;
    }
  }
}

header ul li:before{
  display: none;
}